## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Import csv

In [2]:
weather = pd.read_csv('weather-raw.csv')

#### Lab:

Show df head:

In [3]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Substitute dataframe with only 5 months:

In [4]:
weather = weather[2:12]

Explore df:

In [5]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN

In [6]:
weather.shape

(10, 35)

In [7]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 2 to 11
Data columns (total 35 columns):
id         10 non-null object
year       10 non-null int64
month      10 non-null int64
element    10 non-null object
d1         0 non-null float64
d2         2 non-null float64
d3         2 non-null float64
d4         0 non-null float64
d5         2 non-null float64
d6         0 non-null float64
d7         0 non-null float64
d8         0 non-null float64
d9         0 non-null float64
d10        2 non-null float64
d11        2 non-null float64
d12        0 non-null float64
d13        0 non-null float64
d14        0 non-null float64
d15        0 non-null float64
d16        2 non-null float64
d17        2 non-null float64
d18        0 non-null float64
d19        0 non-null float64
d20        0 non-null float64
d21        0 non-null float64
d22        0 non-null float64
d23        2 non-null float64
d24        0 non-null float64
d25        0 non-null float64
d26        0 non-null float64
d27        4 non-null float64
d28        0 non-null float64
d29        2 non-null float64
d30        0 non-null float64
d31        0 non-null float64
dtypes: float64(31), int64(2), object(2)
memory usage: 2.8+ KB

Reindex dataframe:

In [8]:
weather = weather.reset_index(drop=True)
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN

Get rid of the empty columns:

In [9]:
null_cols = weather.isnull().sum()
drop_cols = list(null_cols[null_cols==10].index)
print(drop_cols)

['d1', 'd4', 'd6', 'd7', 'd8', 'd9', 'd12', 'd13', 'd14', 'd15', 'd18', 'd19', 'd20', 'd21', 'd22', 'd24', 'd25', 'd26', 'd28', 'd30', 'd31']

In [10]:
weather = weather.drop(drop_cols,axis=1)

In [11]:
weather

,id,year,month,element,d2,d3,d5,d10,d11,d16,d17,d23,d27,d29
0,MX17004,2010,2,tmax,27.3,24.1,NaN,NaN,29.7,NaN,NaN,29.9,NaN,NaN
1,MX17004,2010,2,tmin,14.4,14.4,NaN,NaN,13.4,NaN,NaN,10.7,NaN,NaN
2,MX17004,2010,3,tmax,NaN,NaN,32.1,34.5,NaN,31.1,NaN,NaN,NaN,NaN
3,MX17004,2010,3,tmin,NaN,NaN,14.2,16.8,NaN,17.6,NaN,NaN,NaN,NaN
4,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.3,NaN
5,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.7,NaN
6,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.2,NaN
7,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.2,NaN
8,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,30.1
9,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,17.5,NaN,NaN,18.0

Make melted table:

In [12]:
melted = weather.melt(['id','year','month','element'], var_name='day', value_name='temp')

In [13]:
melted.head()

        id  year  month element day  temp
0  MX17004  2010      2    tmax  d2  27.3
1  MX17004  2010      2    tmin  d2  14.4
2  MX17004  2010      3    tmax  d2   NaN
3  MX17004  2010      3    tmin  d2   NaN
4  MX17004  2010      4    tmax  d2   NaN

In [14]:
melted = melted.dropna()

Sort by month:

In [15]:
melted.sort_values(by=['month']).reset_index(drop=True)

         id  year  month element  day  temp
0   MX17004  2010      2    tmax   d2  27.3
1   MX17004  2010      2    tmin   d2  14.4
2   MX17004  2010      2    tmax   d3  24.1
3   MX17004  2010      2    tmin   d3  14.4
4   MX17004  2010      2    tmin  d23  10.7
5   MX17004  2010      2    tmax  d23  29.9
6   MX17004  2010      2    tmin  d11  13.4
7   MX17004  2010      2    tmax  d11  29.7
8   MX17004  2010      3    tmin  d16  17.6
9   MX17004  2010      3    tmax  d16  31.1
10  MX17004  2010      3    tmax  d10  34.5
11  MX17004  2010      3    tmin   d5  14.2
12  MX17004  2010      3    tmax   d5  32.1
13  MX17004  2010      3    tmin  d10  16.8
14  MX17004  2010      4    tmax  d27  36.3
15  MX17004  2010      4    tmin  d27  16.7
16  MX17004  2010      5    tmax  d27  33.2
17  MX17004  2010      5    tmin  d27  18.2
18  MX17004  2010      6    tmax  d29  30.1
19  MX17004  2010      6    tmax  d17  28.0
20  MX17004  2010      6    tmin  d17  17.5
21  MX17004  2010      6    tmin  d29  18.0

In [16]:
melted_save = melted.to_csv('weather_dani.csv', index=False)

Pivot table of temperatures:

In [17]:
pivot_temp = melted.pivot_table(index=['id', 'year', 'month', 'day'], 
                                columns = 'element')
pivot_temp

                        temp
element                 tmax  tmin
id      year month day
MX17004 2010 2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4
             3     d10  34.5  16.8
                   d16  31.1  17.6
                   d5   32.1  14.2
             4     d27  36.3  16.7
             5     d27  33.2  18.2
             6     d17  28.0  17.5
                   d29  30.1  18.0

Try to get the maximum and minimum temperature by month:

Pivot table of max temperatures:

In [18]:
pivot_max = melted.pivot_table(index=['year', 'month'], values = 'temp', aggfunc = np.max)
pivot_max

            temp
year month
2010 2      29.9
     3      34.5
     4      36.3
     5      33.2
     6      30.1

Pivot table of min temperatures:

In [19]:
pivot_min = melted.pivot_table(index=['year', 'month'], values = 'temp', aggfunc = np.min)
pivot_min

            temp
year month
2010 2      10.7
     3      14.2
     4      16.7
     5      18.2
     6      17.5

Pivot table of mean temperatures:

In [20]:
pivot_mean = melted.pivot_table(index=['year', 'month'], values = 'temp', aggfunc = np.mean)
pivot_mean = pivot_mean.round(2)
pivot_mean

             temp
year month
2010 2      20.49
     3      24.38
     4      26.50
     5      25.70
     6      23.40

Merge the three tables:

In [21]:
data_by_month = pd.concat([pivot_max,pivot_min,pivot_mean],axis=1)

In [22]:
data_by_month.columns = ['monthly_max_temp', 'monthly_min_temp', 'monthly_avg_temp']

In [23]:
data_by_month

            monthly_max_temp  monthly_min_temp  monthly_avg_temp
year month
2010 2                  29.9              10.7             20.49
     3                  34.5              14.2             24.38
     4                  36.3              16.7             26.50
     5                  33.2              18.2             25.70
     6                  30.1              17.5             23.40

In [24]:
monthly_save = melted.to_csv('monthly_temp_dani.csv', index=False)